<div class="container">
  <form [formGroup]="recoverForm" (ngSubmit)="onSign(recoverForm.value)">
    <h3 class="m-3 container__title">Reset Password</h3>
    <div class="mb-3 m-3">

      <span class="form-label mt-2">Please enter your email address to request a password reset.</span>

      <div class="formGroup mt-3">
        <span class="form-label">Email: </span>
        <input type="email" class="form-control mt-2" placeholder="Email Address" formControlName="email" required>
      </div>

      <div class="formGroup mt-3" *ngIf="feedback">
        <span class="feedback">{{feedback}}</span>
      </div>
      <div class="formGroup mt-3" *ngIf="error">
        <span class="error">{{error}}</span>
      </div>

      <div class="formGroup mt-4">
<!--        <button type="submit" class="btn btn-primary mt-3 btn btn-dark">Reset password</button>-->
        <button mat-raised-button color="primary" type="submit"> Reset password </button>
      </div>
    </div>
  </form>

  <div class="m-3 mt-4">
    <span class="mr-2">Go back to
<!--      <button class="btn btn-secondary btn-sm" routerLink="/sign-in">Log In</button>-->
      <button mat-raised-button color="primary" routerLink="/sign-in"> Log In </button>
    </span>
  </div>
</div>
