<div class="container">
  <form [formGroup]="recoverForm" (ngSubmit)="onSign(recoverForm.value)">
    <h3>Reset Password</h3>
    <div class="mb-3 m-3 pt-2">

      <span class="mt-3">Please enter your email address to request a password reset.</span>

      <div class="formGroup mt-4">
        <span class="form-label">Email: </span>
        <input type="email" class="form-control mt-2" placeholder="Email Address" formControlName="email" required>
      </div>

      <div class="formGroup mt-3" *ngIf="feedback">
        <span class="feedback">{{feedback}}</span>
      </div>
      <div class="formGroup mt-3" *ngIf="error">
        <span class="error">{{error}}</span>
      </div>

      <div class="formGroup mt-4">
        <button mat-raised-button
                color="primary"
                type="submit"
        > Reset password </button>
      </div>
    </div>
  </form>

  <div class="m-3 mt-5">
    <span>Go back to
      <button mat-raised-button
              color="primary"
              class="btn-medium"
              routerLink="/sign-in"
      > Log In </button>
    </span>
  </div>
</div>
