<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" *ngIf="!userLogged">OurApp</a>
  <p *ngIf="userLogged" class="navbar-brand">Welcome {{userLogged.displayName}}</p>
  <button *ngIf="userLogged" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div>
      <ul class="navbar-nav" *ngIf="userLogged" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping-list">Shopping list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bets">Bets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">Profile</a>
        </li>
      </ul>
    </div>
    <div>
      <ul class="navbar-nav" *ngIf="userLogged" routerLinkActive="active">
        <li>
          <a class="nav-link" *ngIf="userLogged" (click)="authService.logout()">
            <i class="fas fa-sign-out-alt"></i>Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
