<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <h3 class="m-3">Sign Up</h3>
    <div class="mb-3 card p-3 m-3 container-sign">

      <div class="formGroup mt-3">
        <span class="form-label">Name: </span>
        <input type="text" class="form-control" placeholder="Name" formControlName="displayName" required>
      </div>

      <div class="formGroup mt-3">
        <span class="form-label">Email: </span>
        <input type="email" class="form-control" placeholder="Email Address" formControlName="email" required>
      </div>

      <div class="formGroup mt-3">
        <span class="form-label">Password: </span>
        <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
      </div>

      <div class="formGroup mt-3" *ngIf="error">
        <span class="error">{{error}}</span>
      </div>

      <div class="formGroup mt-3">
        <button type="submit" class="btn btn-primary mt-3 btn btn-dark">Register</button>
      </div>
    </div>
  </form>

  <div class="m-3">
    <span class="mr-2">Already have an account?</span>
    <button class="btn btn-secondary btn-sm" routerLink="/sign-in"> Sign In</button>
  </div>
</div>
