.container {
  padding: 3rem 3rem;
  min-height: 100vh;
  height: unset;
  &-title {
    text-decoration: underline;
    display: flex;
    justify-content: center;
  }
}

.textarea {
  width: -webkit-fill-available;
  height: 30rem;
  border: 1px solid #797878;
  border-radius: 4px;
  padding: 20px 12px;
  font-size: 15px;
  letter-spacing: 0.6px;
}
