<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <h3 class="m-3 container__title">Sign In</h3>
    <div class="mb-3 card p-3 m-3 container-sign">

      <div class="formGroup">
        <span class="form-label">Email: </span>
        <input type="email" class="form-control mt-2" placeholder="Username" formControlName="email" required>
      </div>

      <div class="formGroup mt-3">
        <span class="form-label">Password: </span>
        <input type="password" class="form-control mt-2" placeholder="Password" formControlName="password" required>
      </div>

      <div class="formGroup mt-3" *ngIf="error">
        <span class="error">{{error}}</span>
      </div>

      <div class="formGroup mt-3">
        <button type="submit" class="btn mt-3 btn-dark">Login</button>
      </div>
    </div>
  </form>

  <div class="m-3">
    <button class="btn btn-secondary btn-sm" routerLink="/forgot-password"> Forgot Password?</button>
  </div>

  <div class="m-3">
    <span class="mr-2">Don't have an account?</span>
    <button class="btn btn-secondary btn-sm small" routerLink="/register-user"> Sign Up</button>
  </div>
</div>
