<div class="container">

  <div class="m-3">

    <span> Thank You for Registering! </span>
<!--    <div class="formGroup mt-3 mb-3" *ngIf="authService.userData as user">-->
<!--      <span class="form-label">We have sent a confirmation email to <strong>{{user.email}}</strong>.</span><br>-->
<!--      <span class="form-label text">Please check your email and click on the link to verify your email address.</span>-->
<!--    </div>-->
<!--    <div class="formGroup mt-3 mb-3">-->
<!--      <button-->
<!--              mat-raised-button-->
<!--              class="btn-medium"-->
<!--              (click)="authService.sendVerificationMail()"-->
<!--      >-->
<!--        <mat-icon aria-hidden="false" aria-label="refresh">refresh</mat-icon>-->
<!--      Resend Verification Email-->
<!--      </button>-->

<!--    </div>-->
    <div class="mt-5">
    <span>
      <button mat-raised-button
              color="primary"
              routerLink="/sign-in"
      > Go to Log In </button>
    </span>
  </div>

    <div class="mt-5">
      <button mat-raised-button
              class="btn-medium"
              routerLink="/forgot-password"
      > Forgot Password? </button>
    </div>

  </div>
</div>
