<div class="container">
  <h3 class="container__title mt-3 mb-4">Profile</h3>
  <form [formGroup]="supermarketsListFormControl" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <span>Select the supermarket do you usually buy:</span>
    <div class="form-check m-2" *ngFor="let item of supermarket" >
        <mat-checkbox [checked]=item.checked
                      type="checkbox"
                      color="warn"
                      (change)="onChangeChecked(item.name)"
        > {{item.name}} </mat-checkbox>
    </div>
  </div>
    <button mat-raised-button color="primary"> Save </button>
</form>
</div>
