ul {
    padding: unset;
    margin: unset;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background: linear-gradient(11deg, rgba(1,8,29,1) 17%, rgba(189,40,65,1) 75%);
    letter-spacing: 1.2px;
    margin: unset;
    font-weight: 600;
}

.button {
    width: -webkit-fill-available;
    max-width: 300px;
}

span {
  color: #f3f2f2;
  font-weight: 300;
}

.container {
  height: 100vh;
  max-width: 55rem;
  @media (max-width: 500px) {
    padding: 2rem;
  }
  @media (min-width: 500px) {
    padding: 3rem;
  }

  &-sign {
    background-color: #a0a0a0;
  }
}

.form {
  max-width: 50rem;
}

.form-label {
  font-size: 16px;
}

.error {
  color: #960c0c;
  font-weight: 600;
}
