@import '~src/assets/styles/app-common';

.btn {
  &-icon {
    background-color: $iconButton-background;
    height: 33px;
    border: 1px solid $grey-2;
    border-radius: 4px;
  }
}

.item {
  position: relative;
  top: 14px;
  letter-spacing: 1.1px;
  color: #232323;
  width: -webkit-fill-available;
  text-transform: capitalize;
  &-bought {
    background: $light-grey-2;
  }
}

@media (min-width: 500px) {
  .container-card {
    top: 60%;
  }
}

.item-container {
  display: flex;
  flex-grow: inherit;
}

.mat-icon-text {
  letter-spacing: 1px;
}

input {
  height: 20px;
}
