<div class="formGroup" class="container">

  <div class="wrapper-spinner">
    <mat-spinner *ngIf="loading" [diameter]="60"></mat-spinner>
  </div>

  <h3>Shopping List</h3>
  <form [formGroup]="newItemForm">

    <mat-form-field class="d-flex">
      <input matInput placeholder="Name item" formControlName="name">
      <mat-error>Field must be full</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Where to buy it:</mat-label>
      <mat-select [(value)]="supermarketLastSelected" formControlName="placeToBuyIt">
        <mat-option *ngFor="let supermarket of userSupermarket" value="{{supermarket.name}}">
          {{supermarket.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-group">
      <div class="pt-4">
        <button mat-raised-button
                color="primary"
                type="submit"
                (click)="createItem(newItemForm.value)"
        > Save </button>
      </div>
    </div>
  </form>

  <div class="container-card">
    <mat-card class="card-element" *ngIf="groupedSupermarket && groupedSupermarket.length == 0">
      <mat-card-subtitle>There's no supermarket list yet. Add some items!</mat-card-subtitle>
    </mat-card>
  </div>


  <mat-accordion [multi]="true" *ngFor="let supermarketList of groupedSupermarket">
    <mat-expansion-panel [expanded]="accordionExpanded" (opened)="setAccordion(true)" hideToggle="true">
      <mat-expansion-panel-header> {{supermarketList[0].placeToBuyIt}}
      </mat-expansion-panel-header>
      <mat-panel-description *ngFor="let item of supermarketList"
                             [ngClass]="{'item-bought' : item.isBought}"
                             (click)="$event.stopPropagation()"
      >
        <p (click)="checkItem(item)" class="item">{{item.name}}</p>
        <button (click)="deleteItem(item.id)" class="btn-icon">
          <mat-icon aria-hidden="false" aria-label="delete" class="btn-icon__icon">delete</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>



  <!--  <div id="accordion" class="mt-2 mb-2">-->
  <!--    <div class="card">-->
  <!--      <div id="headingOne">-->
  <!--        <h5 class="mb-0">-->
  <!--          <button class="btn btn-accordion" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"-->
  <!--            aria-controls="collapseOne">-->
  <!--            Bonpreu-->
  <!--          </button>-->
  <!--        </h5>-->
  <!--      </div>-->
  <!--      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
  <!--        <div class="card-body">-->
  <!--          <ul *ngFor="let item of shoppingListBonPreu">-->
  <!--            <li class="container-task" [ngClass]="item.isBought ? 'item-buyed' : 'item-notbuyed'">-->
  <!--&lt;!&ndash;              <p class="item" (click)="checkItem(item)">{{item.name}}</p>&ndash;&gt;-->
  <!--              <div class="container-actions">-->
  <!--                &lt;!&ndash; <button type="submit" (click)="checkItem(item)" class="btn-icon"><i class="fas fa-check"></i></button> &ndash;&gt;-->
  <!--                <button type="submit" (click)="deleteItem(item.id)" class="btn-icon">-->
  <!--                  <mat-icon aria-hidden="false" aria-label="delete" class="btn-icon__icon">delete</mat-icon>-->
  <!--&lt;!&ndash;                  <i class="fas fa-trash-alt"></i>&ndash;&gt;-->
  <!--                </button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div id="accordion" class="mt-2 mb-2">-->
  <!--    <div class="card">-->
  <!--      <div id="headingOne">-->
  <!--        <h5 class="mb-0">-->
  <!--          <button class="btn btn-accordion" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"-->
  <!--            aria-controls="collapseTwo">-->
  <!--            BonArea-->
  <!--          </button>-->
  <!--        </h5>-->
  <!--      </div>-->
  <!--      <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
  <!--        <div class="card-body">-->
  <!--          <ul *ngFor="let item of shoppingListBonArea">-->
  <!--            <li class="container-task" [ngClass]="item.isBuyed ? 'item-buyed' : 'item-notbuyed'">-->
  <!--              <p class="item" (click)="checkItem(item)">{{item.name}}</p>-->
  <!--              <div class="container-actions">-->
  <!--                &lt;!&ndash; <button type="submit" (click)="checkItem(item)" class="btn-icon"><i class="fas fa-check"></i></button> &ndash;&gt;-->
  <!--                <button type="submit" (click)="deleteItem(item.id)" class="btn-icon"><i-->
  <!--                    class="fas fa-trash-alt"></i></button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--  <div id="accordion" class="mt-2 mb-2">-->
  <!--    <div class="card">-->
  <!--      <div id="headingOne">-->
  <!--        <h5 class="mb-0">-->
  <!--          <button class="btn btn-accordion" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"-->
  <!--            aria-controls="collapseThree">-->
  <!--            Altres-->
  <!--          </button>-->
  <!--        </h5>-->
  <!--      </div>-->
  <!--      <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">-->
  <!--        <div class="card-body">-->
  <!--          <ul *ngFor="let item of shoppingListOthers">-->
  <!--            <li class="container-task" [ngClass]="item.isBuyed ? 'item-buyed' : 'item-notbuyed'">-->
  <!--              <p class="item" (click)="checkItem(item)">{{item.name}}</p>-->
  <!--              <div class="container-actions">-->
  <!--                &lt;!&ndash; <button type="submit" (click)="checkItem(item)" class="btn-icon"><i class="fas fa-check"></i></button> &ndash;&gt;-->
  <!--                <button type="submit" (click)="deleteItem(item.id)" class="btn-icon"><i-->
  <!--                    class="fas fa-trash-alt"></i></button>-->
  <!--              </div>-->
  <!--            </li>-->
  <!--          </ul>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

  <!--<div class="d-flex justify-content-center container-spinner" *ngIf="loading">-->
  <!--  <div class="spinner-border spinner" role="status">-->
  <!--    <span class="sr-only">Loading...</span>-->
  <!--  </div>-->
  <!--</div>-->

</div>

