// colors

$white: #FFF;
$mat-white: rgba(255,255,255,.7);
$light-grey: #f3f2f2;
$light-grey-2: #797979;
$dark-grey: #343a40;
$grey-1: #c7c7c7;
$grey-2: #757575;
$grey-3: #5a5a5a;
$grey-4: #464646;
$iconButton-background: #d4d4d4;

$main-background: #afafaf;
$main-overlay: rgb(51 51 51 / 91%);
$primary-button: #e27104de;
$primary-error: #8b013d;
$text:  #232323;
