@import '~src/assets/styles/app-colors';

.btn-medium {
  line-height: 32px;
}
.btn-large {
  line-height: 40px;
  letter-spacing: 1.2px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: $light-grey;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: unset;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.mat-expansion-panel-header-description {
  background-color: $grey-1;
  padding: 5px 10px;
  border-radius: 3px;
  align-content: center;
  margin-bottom: 6px;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  justify-content: space-between;
}

.mat-icon {
  position: relative;
  top: 3px;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child, .mat-accordion > *:last-child:not(.mat-expansion-panel)
.mat-expansion-panel-spacing {
  margin-bottom: 10px !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  margin-bottom: 10px;
}

.mat-form-field-appearance-legacy, .mat-form-field-wrapper {
  padding-bottom: 1.25em;
  width: -webkit-fill-available;
}

.mat-error {
  color: $primary-error;
  font-size: 12px;
}
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
  color: $primary-error;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $mat-white;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: $primary-error !important;
}

.cdk-overlay-container {
  background-color: $main-overlay !important;
}

.mat-dialog-container {
  background-color: $light-grey-2;
}

.mat-form-field, .mat-input-element {
  letter-spacing: 1.2px;
}

.mat-snack-bar-container {
  padding: 4px !important;
  background-color: $grey-1;
}

@media (max-width: 500px) {
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    margin-right: unset !important;
  }

  .mat-expansion-panel-body {
    padding: 2px 8px !important;
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    height: 48px !important;
  }
}
@media (min-width: 500px) {
  .mat-form-field-appearance-legacy, .mat-form-field-wrapper {
    max-width: 34rem;
  }
}
