<form [formGroup]="editItemForm" (submit)="editItem(editItemForm.value)">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <mat-dialog-content class="d-flex flex-column">
    <mat-form-field class="mt-3">
      <input
        matInput
        placeholder="{{ data.inputPlaceholder }}"
        formControlName="name"
        [(ngModel)]="data.nameItem"
      />
      <mat-error>{{ data.errorMessage }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary-color">Save</button>
  </mat-dialog-actions>
</form>
